.container{
    width: 50%;
    background-color: aqua;
}
h1,h3{
    text-align: center;
    color: red;
    background-color: yellow;
}
span{
    color:red;
}
p{
    padding: 1.2rem 2rem 1rem 1.5rem;
}